.element__like{
    min-width: 22px;
    min-height: 19px;
    margin: auto;
    padding: 0;

    background: none;
    border: none;

    background-image: url("../../../image/like.svg");
    background-repeat: no-repeat;
    object-fit: contain;
    
    grid-area: like;
    
}