.element__delete{
    min-width: 18px;
    min-height: 19px;

    background: none;
    border: none;

    background-image: url("../../../image/Trash.svg");

    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete:hover{
    opacity: 0.6;
    cursor: pointer;
}